* {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

html {

	body {
		background-color: red;
		transition-duration: 0.5s;

		&:hover {
			background-color: blue;
		}

		&.hello {
			color: red;
		}

	}

}

::placeholder {
  color: gray;
}